# Default ignored files
/workspace.xml
/shelf/Uncommitted_changes_before_Update_at_2021_4_9,_11_41_下午_[Default_Changelist]/shelved.patch
/shelf/Uncommitted_changes_before_Update_at_2021_4_9__11_41___Default_Changelist_.xml
/shelf/Uncommitted_changes_before_Update_at_2021_4_9,_11_41_下午_[Default_Changelist]/shelved.patch
